<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% block title %}TrollyAgenta{% endblock %}</title>


    <link href="{{ asset('/bundles/trollyagenda/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/trollyagenda/css/trollyAgenda.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('trolly_agenda_default_index') }}">TrollyAgenda</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                {{ knp_menu_render('TrollyAgendaBundle:Builder:mainMenu', {'currentClass': 'active', 'class': 'nav navbar-nav'}) }}
            </div>
        </div>
    </nav>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="container-fluid">
        {% block body %}<h1>{{ block('title') }}</h1>{% endblock %}
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ asset('/bundles/trollyagenda/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>




