<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% block title %}TrolleyAgenta{% endblock %}</title>


    <link href="{{ asset('/bundles/trolleyagenda/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/trolleyagenda/css/waitMe.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/trolleyagenda/css/trolleyAgenda.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('startpage') }}">TrolleyAgenda</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                {{ knp_menu_render('TrolleyAgendaBundle:Builder:mainMenu', {'currentClass': 'active', 'class': 'nav navbar-nav', 'allow_safe_labels': true}) }}
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        {{ include('common/_flash_messages.html.twig') }}

        {% block body %}<h1>{{ block('title') }}</h1>{% endblock %}
    </div>

    <footer>OpenSource Project on <a href="https://github.com/TumTum/TrolleyAgenda">GitHub: TrolleyAgenda</a></footer>

    <script src="{{ asset('/bundles/trolleyagenda/js/jquery.1.11.3.min.js') }}"></script>
    <script src="{{ asset('/bundles/trolleyagenda/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/bundles/trolleyagenda/js/waitMe.min.js?v1') }}"></script>
    <script src="{{ asset('/bundles/trolleyagenda/js/fastclick.min.js?v1') }}"></script>
    <script src="{{ asset('/bundles/trolleyagenda/js/TrolleyAgenda.js?v0.3') }}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>




