{% extends "TrolleyAgendaBundle:Calendar:index.html.twig" %}

{% block day_template %}
    {% set day_is_past_css = '' %}
    {% if day.isDayBeforeToday %}
        {% set day_is_past_css = 'day-is-past' %}
    {% endif %}
    <div class="col-xs-6 col-sm-3 dayentry">
        <div class="panel panel-default {{ day_is_past_css }}">
            <div class="panel-heading">
                <strong>{{ ("date." ~ day.taDay|date("l"))|trans }} {{ day.taDay|date("d.m.Y") }}</strong>
            </div>

            {% set show_button_type       = 'signon'%}
            {% set show_button_color      = 'btn-primary'%}
            {% set add_signoff_controller = 'trolley_agenda_calendar_addusertoday'%}
            {% set show_buttons           = false %}
            {% set force_hide_buttons     = false %}

            <div class="panel-body">
                {% if day.isDayClosed %}
                    <div class="user-name-box bg-info text-center">
                        {{ day.getClosedMessage }}
                    </div>
                    {% set force_hide_buttons = true %}
                {% elseif day.taUsers.count > 0 %}
                    <p>
                        {% if day.isDayFutureToday %}{{ 'page.calendar.daytext-gogo'|trans }}{% endif %}
                        {% if day.isDayBeforeToday %}{{ 'page.calendar.daytext-gonegone'|trans }}{% endif %}
                    </p>
                    {% for user in day.taUsers %}

                        {% set bg_color = 'bg-warning' %}
                        {% if day.canUserGo(user) %}
                            {% set bg_color = 'bg-success' %}
                        {% endif %}

                        {% set isLoginUser = app.user.id == user.id %}
                        {% set markActivUser = '' %}

                        {% if isLoginUser %}
                            {% set markActivUser = 'markActivUser' %}
                        {% endif %}

                        <span class="user-name-box {{ bg_color }} {{ markActivUser }}" data-toggle="tooltip" data-placement="right">{{ user.firstlastname }}</span>
                        {% if isLoginUser  %}
                            {% set show_button_type = 'signoff'%}
                            {% if day.canUserGo(user) %}
                                {% set show_button_color = 'btn-danger'%}
                            {% else %}
                                {% set show_button_color = 'btn-warning'%}
                            {% endif %}
                            {% set add_signoff_controller = 'trolley_agenda_calendar_signoffuserfromday' %}
                            {% set show_buttons = true %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {{ 'page.calendar.daytext-free'|trans }}
                {% endif %}
            </div>

            {% if day.isDayBeforeToday %}
                {% set force_hide_buttons = true %}
            {% endif %}

            {% if not force_hide_buttons and (show_buttons or day.taUsers|length < 2) %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path(add_signoff_controller, {"day": day.id}) }}" class="btn {{ show_button_color }} btn-block">{{ ('label.button.calendar.' ~ show_button_type)|trans }}</a>
                        {#<a href="#" class="btn btn-default btn-xs">absagen</a>#}
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>

    {% if (loop.index % 2) == 0 %}
        <div class="clearfix visible-xs-block"></div>
    {% endif %}
    {% if (loop.index % 4) == 0 %}
        <div class="clearfix hidden-xs"></div>
    {% endif %}
{% endblock %}
