{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'page.userchangepasswort'|trans }}{% endblock %}

{% block fos_user_content %}
    <div class="col-sm-6 col-sm-offset-3" style="margin-top: 2em">
        {% trans_default_domain 'FOSUserBundle' %}

        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

            {{ form_widget(form) }}
            <a onclick="history.back();" class="btn btn-default waitRequest">{{ 'label.button.cancel'|trans({}, 'messages') }}</a>
            <button class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}">{{ 'change_password.submit'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content %}