{% block modal_global_title %}
    {{ 'page.user.modal.title_delete_user'|trans()|raw }}
{% endblock %}

{% block modal_global_body %}
    <input type="hidden" name="userid" id="js_modal_userid" value="">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_user') }}">
    {{ 'page.user.modal.ask_for_delete_user'|trans({'%name%': '<strong class="js_modal_firstlastname"></strong>'})|raw }}
{% endblock %}

{% block modal_global_footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "label.button.cancel"|trans }}</button>
    <button type="submit" class="btn btn-danger" >{{ "page.user.modal.button_sure_remove"|trans }}</button>
{% endblock %}

{% block javascript %}
    <script>
        $('#global_modal').on('show.bs.modal', function (event) {
            var button        = $(event.relatedTarget);
            var firstlastname = button.data('firstlastname');
            var userid        = button.data('userid');
            var modal         = $(this);

            modal.find('#js_modal_userid').val(userid);
            modal.find('.js_modal_firstlastname').text(firstlastname);
        });
    </script>
{% endblock %}