{% extends ":layouts:sidebar_right.html.twig" %}

{% block title %}{{ 'page.userlist'|trans }}{% endblock %}

{% block content %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for user in users %}
            {% set collapse_id = "collapse" ~ loop.index %}
            {% set heading_id  = "heading" ~ loop.index %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="{{ heading_id }}">
                    <div class="panel-title row" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ collapse_id }}" aria-controls="{{ collapse_id }}">
                        <div class="col-xs-7">
                            <i class="fa fa-user hidden-xs"></i>  {{ user.firstlastname }}
                        </div>
                        <div class="col-xs-5">
                            {% if user.mobile != '' %}<i class="fa fa-mobile-phone hidden-xs"></i> {{ user.mobile }}
                            {% elseif user.phone != '' %}<i class="fa fa-phone hidden-xs"></i> {{ user.phone }}
                            {% elseif user.mobile2 != '' %}<i class="fa fa-mobile-phone hidden-xs"></i> {{ user.mobile2 }}{% endif %}
                        </div>
                    </div>
                </div>
                <div id="{{ collapse_id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ heading_id }}">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <p>
                                    {{ user.street }}<br/>
                                    {{ user.plz }} {{ user.city }}
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <p>
                                    <i class="fa fa-envelope-o"></i> {{ user.email }}<br/>
                                    {% if user.phone != '' %}<i class="fa fa-phone"></i> {{ user.phone }} <br/>{% endif %}
                                    {% if user.mobile != '' %}<i class="fa fa-mobile-phone"></i> {{ user.mobile }}  <br/>{% endif %}
                                    {% if user.mobile2 != '' %}<i class="fa fa-mobile-phone"></i> {{ user.mobile2 }}  <br/>{% endif %}
                                </p>
                            </div>
                            <div class="col-sm-4">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <p>
                                        {{ 'label.username'|trans }}:
                                        <i class="fa fa-user"></i> {{ user.username }}
                                    </p>
                                    <a href="{{ path('trolley_agenda_users_edit', { id: user.id }) }}"
                                       class="btn btn-sm btn-primary">
                                        <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="hidden-xs" style="margin-top: 5em;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Verwaltung</h3>
            </div>
            <div class="panel-body">
                <a href="{{ path('trolley_agenda_users_new') }}" class="btn btn-sm btn-primary">
                    <i class="fa fa-user"></i> {{ 'action.new_user'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
